/* common style start*/
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: Lato;
}

/* Button style */
.primary-btn {
  color: #fff;
  border-radius: 8px;
  border: none;
  background: #e55473;
  padding: 20px 40px;
  font-size: 20px;
  font-weight: 700;
}

/* Section title and description style */
.section-title {
  color: #2c2525;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 24px;
}

.section-description {
  width: 594px;
  margin: 0 auto;
  color: #26262699;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 48px;
}
/* common style end*/

/* header section style */
.banner {
  display: flex;
  justify-content: space-between;
  padding: 50px 240px 0 240px;
  margin-bottom: 150px;
  background-color: #e554731a;
}

.banner-text-item {
  max-width: 700px;
  padding-top: 180px;
}

.banner-title {
  color: #272727;
  font-size: 80px;
  font-weight: 800;
  margin-bottom: 30px;
}

.banner-description {
  color: #27272799;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 30px;
}

/* Main section started */
main section {
  margin-bottom: 130px;
}
/* Main section end */

/* featured flowers section style */

.featured-section {
  padding: 0 240px;
}

.featured-container {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  align-items: center;
}

.featured-img-1 {
  width: 464px;
  height: 538px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  background-image: url(../images/featured-flowers-1.png);
  background-repeat: no-repeat;
  background-position: center bottom;
}

.featured-img-2 {
  width: 464px;
  height: 538px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
  background-image: url(../images/featured-flowers-2.png);
  background-repeat: no-repeat;
  background-position: center bottom;
}

.featured-img-3 {
  width: 464px;
  height: 538px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
  background-image: url(../images/featured-flowers-3.png);
  background-repeat: no-repeat;
  background-position: center bottom;
}

.feature-img-text {
  color: #272727;
  margin-top: 32px;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
  text-decoration-line: underline;
}

/* hot deal section style started */
.hot-deal-item-text {
  text-align: center;
}

.hot-deal-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 400px;
  border-radius: 8px;
  background: #e554730d;
}

.hot-deal-item-img {
  padding: 100px 0;
}
/* hot deal section style end */

/* Instagram section style started */
.instagram-image-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  padding: 0 240px;
}
/* Instagram section style end */

/* Latest deal section style started */
.latest-deal-section {
  background-image: url(../images/rectangle\ 9.png);
  background-repeat: no-repeat;
  background-position: center center;
  padding: 122px 240px;
}

.latest-deal-subscribe {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-email {
  width: 700px;
  height: 64px;
  padding-left: 22px;
  margin-right: 20px;
  font-size: 16px;
  border-radius: 8px;
  background: #fff;
  border: none;
}
/* Latest deal section style end */

/* footer section start */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #111010;
  padding: 128px 0;
}

.footer-title {
  color: #ffffff;
  font-size: 48px;
  font-weight: 800;
}

.flower-red {
  color: #e55473;
}

.footer-description {
  width: 625px;
  color: #ffffffe6;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin: 24px 0 32px 0;
}

.footer-copy-right {
  color: rgba(255, 255, 255, 0.4);
  font-size: 16px;
  font-weight: 400;
}

/* footer section end */
